<template data-controller-name="com.zhenergy.pcbi.view.home">
 <div class="nav_main">
	    <div class="main-center">
            <div class="msg_top">
               <div class="msg_top1">
                   <marquee behavior="scroll" scrollamount="5">
                       <div class="msg_text">
                       <b class="newMsgIdClass"></b>
                       </div>
                   </marquee>
               </div> 
               <div class="msg_top2">
                    <div class="topToolAll">
                        <div class="userNameIcon" onmouseover="userHoverOn('userNameCon')" onmouseout="userHoverOut('userNameCon')" ></div>
                        <div class="userNameCon"><b class="userName"></b></div>
                    </div>
                    <div class="topToolAll">
                        <div class="userSettingIcon" onmouseover="userHoverOn('userSettingCon')" onmouseout="userHoverOut('userSettingCon')" ></div>
                        <div class="userSettingCon">
                            <a href="http://erp.zhenergy.com.cn/irj/servlet/prt/portal/prtroot/com.sap.portal.navigation.masthead.LogOutComponent?logout_submit=true" class="msg_topLogout">退出</a>
                        </div>
                    </div>
                    <div class="topToolAll">
                        <div class="userHelpIcon" onmouseover="userHoverOn('userHelpCon')" onmouseout="userHoverOut('userHelpCon')" ></div>
                        <div class="userHelpCon"><b class="userHelp" onClick="help()">帮助</b></div>
                    </div>
                    <div class="topToolAll">
                        <div class="userSkinIcon" onmouseover="userHoverOn('userSkinCon')" onmouseout="userHoverOut('userSkinCon')" ></div>
                        <div class="userSkinCon"><b class="userSkin" onClick="changeSkinCss('home01')">夜间模式</b></div>
                    </div>
                </div>
            </div>
            <div class="content_center">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
            			<div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="dailyProfit()">
                				<div class="demo_header" id="dateProfitDate">-年-月-日</div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力日利润
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="home_rlr"></span>
                				<span class="demo_shuzi_span_shangbiao">万元</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbiHome"></b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiProfitImg" class="demo_img_down"/>&nbsp;环比<b id="huanbiHome"></b>%&nbsp;<img  id="huanbiProfitImg" src="img/horizontal-green.png" class="demo_img_up"/></div>
                			</div>
            			</div>
            			<div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toMainBusinessPage()">
                				<div class="demo_header" id="mainBusinessDate">-年-月-日</div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力<br>主营业务收入(合并)
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="mainBusiness">0</span>
                				<span class="demo_shuzi_span_shangbiao">亿元</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbiMainBusiness"></b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiMainBusinessImg" class="demo_img_down"/>&nbsp;环比<b id="huanbiMainBusiness"></b>%&nbsp;<img  id="huanbiMainBusinessImg" src="img/horizontal-green.png" class="demo_img_up"/></div>
                			</div>
            			</div>
                		<div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toPureProfitPage()">
                				<div class="demo_header" id="pureProfitDate">-年-月-日</div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力净利润
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="pureProfit">0</span>
                				<span class="demo_shuzi_span_shangbiao">万元</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbiPureProfit"></b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiPureProfitImg" class="demo_img_down"/>
                				<!--&nbsp;环比<b id="huanbiPureProfit"></b>%&nbsp;<img  id="huanbiPureProfitImg" src="img/horizontal-green.png" class="demo_img_up"/>-->
                				    
                				</div>
                				<!--TODO-->
                				<div class="demo_content_1"><span class="demo_content_sum"><b>累计:</b><b id="pureProfitSum">13.8</b><b>亿元</b></span></div>
                				<div class="demo_content_1" style="margin-top:10px"><b class="demo_content_sum" >年度累计完成度</b></div>
                				<div class="progressbar_1" > 
                				    
                                    <div class="bar" style="width: 50.6%;" id="pureProfitSumPercentWidth" ><b style="font-family:Microsoft Yahei;" id="pureProfitSumPercentValue"></b></div> 
                                </div> 
                			</div>
                		 </div>
                        <div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toPowerCostPage()">
                				<div class="demo_header"><b id="powerCostDate"></b></div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力度电成本
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="powerCost">0</span>
                				<span class="demo_shuzi_span_shangbiao" style="margin-left:-30px;">元/万千瓦时</span>
                				</div>
                				<div class="demo_content_1"><b>度电成本同比</b><b id="tongbipowerCost"></b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbipowerCostImg" class="demo_img_down"/></div>
                			</div>
            			</div>
            			<!--AC-LOUWW TODO 需要挪到home04-->
            			<div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toDetailPage()">
                				<div class="demo_header" id="motherComPureProfitDate">2016年03月</div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					归属母公司净利润
                				</div>
                				<div class="demo_shuzi_first">
                				<span id="motherComPureProfit">5.23</span>
                				<span class="demo_shuzi_span_shangbiao">亿元</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbimotherComPureProfit"></b>0%&nbsp;<img  src="img/horizontal-green.png" id="tongbimotherComPureProfitImg" class="demo_img_down"/></div>
                				<br/>
                				<!--<div class="demo_content_1"><b class="demo_content_sum">累计：13.8亿元</b></div>-->
                				<!--<div class="demo_content_1" style="margin-top:10px"><b class="demo_content_sum" >年度累计完成度</b></div>-->
                				<!--<div class="progressbar_1" > -->
                				    
                    <!--                <div class="bar" style="width: 50.6%;"><b style="font-family:Microsoft Yahei;">50.6%</b></div> -->
                    <!--            </div> -->
                			</div>
            			</div>
                		 <div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toAverBusinessPage()">
                				<div class="demo_header" id="averBusinessIncomeDate">-年-月-日</div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力人均营业收入
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="averBusinessIncome">0</span>
                				<span class="demo_shuzi_span_shangbiao">万元</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbiAverBusinessIncome"></b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiAverBusinessIncomeImg" class="demo_img_down"/>
                				<!--&nbsp;环比<b id="huanbiAverBusinessIncome"></b>%&nbsp;<img  id="huanbiAverBusinessIncomeImg" src="img/horizontal-green.png" class="demo_img_up"/>-->
                				</div>
                			</div>
            		   </div>
                       <div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toAverPersonProfitRealPage()">
                				<div class="demo_header" id="averPersonProfitDate">-年-月-日</div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力人均利润
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="averPersonProfit">0</span>
                				<span class="demo_shuzi_span_shangbiao">万元</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbiAverPersonProfit"></b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiAverPersonProfitImg" class="demo_img_down"/>
                				<!--&nbsp;环比<b id="huanbiAverBusinessIncome"></b>%&nbsp;<img  id="huanbiAverBusinessIncomeImg" src="img/horizontal-green.png" class="demo_img_up"/>-->
                				</div>
                			</div>
            		   </div>
            		   <!--<div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">-->
                	<!--		<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toWokerCountPage()">-->
                	<!--			<div class="demo_header" id="workerCountsPerKWDate">-年-月-日</div>-->
                	<!--			<div class="demo_jiange"></div>-->
                	<!--			<div class="demo_title">-->
                	<!--				单位万千瓦员工人数-->
                	<!--			</div>-->
                	<!--			<div class="demo_shuzi_red">-->
                	<!--			<span id="workerCountsPerKW">0</span>-->
                	<!--			<span class="demo_shuzi_span_shangbiao">人</span>-->
                	<!--			</div>-->
                	<!--			<div class="demo_content_1">同比<b id="tongbiWorkerCountsPerKW"></b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiWorkerCountsPerKWImg" class="demo_img_down"/>-->
                				<!--&nbsp;环比<b id="huanbiWorkerCountsPerKW"></b>%&nbsp;<img  id="huanbiWorkerCountsPerKWImg" src="img/horizontal-green.png" class="demo_img_up"/>-->
                	<!--			</div>-->
                	<!--		</div>-->
            		   <!--</div>-->
                        <div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toWokerCountPerHourPage()">
                				<div class="demo_header" id="workerCountsPerKWHourDate">-年-月-日</div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力发电生产率
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="workerCountsPerKWHour">0</span>
                				<span class="demo_shuzi_span_shangbiao">万千瓦时</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbiWorkerCountsPerKWHour"></b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiWorkerCountsPerKWHourImg" class="demo_img_down"/>
                				<!--&nbsp;环比<b id="huanbiWorkerCountsPerKWHour"></b>%&nbsp;<img  id="huanbiWorkerCountsPerKWHourImg" src="img/horizontal-green.png" class="demo_img_up"/>-->
                				</div>
                			</div>
            		   </div>
            		   <div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toWokerCostPage()">
                				<div class="demo_header" id="workerCostPerKWDate">-年-月-日</div>
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力单位效能
                                    <!--<input type="month" style="width:150px;height:20px;" onchange="dateChangeHome08('workerCostPerKWDate')" id="workerCostPerKWDateId"/>-->
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="workerCostPerKW">0</span>
                				<span class="demo_shuzi_span_shangbiao">元/万千瓦</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbiWorkerCostPerKW">0</b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiWorkerCostPerKWImg" class="demo_img_down"/>
                				<!--&nbsp;环比<b id="huanbiWorkerCostPerKW"></b>%&nbsp;<img  id="huanbiWorkerCostPerKWImg" src="img/horizontal-green.png" class="demo_img_up"/>-->
                				</div>
                			</div>
            		   </div>
            		   <div class="swiper-slide" style="background-color:;margin-top: -15px;cursor:pointer;">
                			<div class="demo_outer" style="cursor:pointer;background-size:100% 100%;" ondblclick="toWokerCostPerHourPage()">
                				<div class="demo_header" id="workerCostPerKWHourDate">-年-月-日
                				    <!--<input type="month" style="width:150px;height:20px;" onchange="dateChangeHome08('workerCostPerKWHourDate')" id="workerCostPerKWHourDateId"/>-->
                				</div>
                				<!--<div style="float:left;margin-left:152px;">-->
                				    <!--<input type="month" onchange="dateChangeHome08('workerCostPerKWHourDate')" id="workerCostPerKWHourDateId"/>-->
                				<!--</div>-->
                				<div class="demo_jiange"></div>
                				<div class="demo_title">
                					浙能电力单位产出成本
                                    <!--<input type="month" style="width:150px;height:20px;" onchange="dateChangeHome08('workerCostPerKWHourDate')" id="workerCostPerKWHourDateId"/>-->
                				</div>
                				<div class="demo_shuzi_red">
                				<span id="workerCostPerKWHour">0</span>
                				<span class="demo_shuzi_span_shangbiao">元/万千瓦时</span>
                				</div>
                				<div class="demo_content_1">同比<b id="tongbiWorkerCostPerKWHour">0</b>%&nbsp;<img  src="img/horizontal-green.png" id="tongbiWorkerCostPerKWHourImg" class="demo_img_down"/>
                				<!--&nbsp;环比<b id="huanbiWorkerCostPerKWHour"></b>%&nbsp;<img  id="huanbiWorkerCostPerKWHourImg" src="img/horizontal-green.png" class="demo_img_up"/>-->
                				</div>
                			</div>
            		   </div>
                    </div>
                </div>
            </div>
            <div class="menu_bottom">
                <ul>
                    <li class="but01" id="but01">
                        <div class="But01" type="button" onClick="doit1()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but04" id="but04">
                        <div class="But04" type="button" onClick="doit4()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but02 nav_BI" id="but02">
                        <div class="But02" type="button" onClick="doit2()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but06" id="but06">
                        <div class="But06" type="button" onClick="doit6()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but03" id="but03">
                        <div class="But03" type="button" onClick="doit3()"></div>
                    </li>
                    
                    <!--<li class="split_line"></li>-->
                    <!--<li class="but05" id="but05">-->
                    <!--    <div class="But05" type="button" onClick="doit5()"></div>-->
                    <!--</li>-->
                    
                    <li class="split_line"></li>
                    <li class="but07" id="but07">
                        <div class="But07" type="button" onClick="doit7()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but08" id="but08">
                        <div class="But08" type="button" onClick="doit8()"></div>
                    </li>
                </ul>
            </div>
        </div>
  </div>
</template>